@media (min-width: 280px) {
  .products {
    display: flex;
    flex-direction: column;
  }
  .product-item {
    display: flex;
    margin: 10px 0;
  }
  .product-title {
    font-weight: bold;
  }
  .product-item>* {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-item img {
    width: 100px;
    height: 100px;
  }
  .cart-icon {
    cursor: pointer;
  }
}